<h2>Here are your plan details for <%=@plan.name%></h2>
<h3>Plan Details:</h3>
<ul>
  Name: <%=@plan.name%></br>
  Start Date: <%=@plan.start_date%></br>
  End Date: <%=@plan.end_date%></br>
</ul>

 <%=button_to "Delete Plan", plan_url(@plan.id), method: :delete%>

 <h3>Here are your milestones</h3>
