<!DOCTYPE html>
<html>
<head>
  <title>Breakingbad</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="habits">BreakingBad</a>
      <ul class="nav">
        <li><%= link_to "Habits", habits_url %></li>
      </ul>
    </div>
  </div>

<%= yield %>

</body>
</html>
